.env
dist/
node_modules/

yarn.lock
package-lock.json

node_modules
dist
dist-ssr
*.local

.vscode/*
.idea

public/images/upload/**
!public/images/upload/posts/
!public/images/upload/posts/temporary
!public/images/upload/posts/temporary/.gitkeep